.snakemake
.idea/

sparv_pipeline.egg-info

sparv/__pycache__
sparv/util/__pycache__/
venv/
*.pyc

# Models
models/geo
models/hist/dalin.pickle
models/hist/diapivot.pickle
models/hist/swedberg.pickle
models/hunpos
models/lexical_classes
models/malt/swemalt-1.7.2.mco
models/saldo/nst_utf8.txt
models/saldo/saldo.compound.pickle
models/saldo/saldo.pickle
models/saldo/saldom.xml
models/saldo/stats.pickle
models/segment
models/sensaldo
models/treetagger
models/wsd

# Bin
bin/maltparser-1.7.2/
bin/wsd/
bin/word_alignment/
bin/treetagger/
bin/stanford_parser/

# Plugins
freeling
