/* Limit the maximum font size, as the largest default size is a bit too big */
@media screen and (min-width: 125em) {
    html {
        font-size: 137.5%
    }
}

/* Headers */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    font-weight: 500;
}

/* Slightly larger font size for tables */
.md-typeset table:not([class]) {
    font-size: 0.7rem;
}

/* Slightly larger font size for admonitions */
.md-typeset .admonition,
.md-typeset details {
    font-size: 0.7rem;
}

/* Bird on the intro page */
.intro-logo {
    width: 200px;
    transform: scaleX(-1);
}

/* Fade out highlighted text after a specified duration */
@keyframes fade {
    100% {
        background-color: transparent;
    }
}

.md-typeset mark[data-md-highlight] {
    animation: fade 20s forwards;
}

/* Hide empty table headers */
thead:has(tr):not(:has(th:not(:empty))) {
    display: none;
}

/* Remove border-top from the first row of tbody when thead is hidden */
thead:has(tr):not(:has(th:not(:empty)))+tbody tr:first-child td {
    border-top: none !important;
}
